.auth-form__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.21;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  margin: 20px 0;
}

@media screen and (min-width: 600px) {
  .auth-form__text {
    font-size: 14px;
    line-height: 1.21;
    margin: 15px 0;
  }
}
